<iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>
<div class="zenbu-form">
  <form
    id="messageForm"
    action="/sendMessage"
    method="POST"
    target="dummyframe"
  >
    <input type="hidden" name="token" value="{{token}}" />
    <div class="select-div">
      <select name="channelid" class="select">
        {{#each chans}}
          <option value="{{this.id}}" class="option">
            {{this.name}}
          </option>
        {{/each}}
      </select>
    </div>
    <input
      type="text"
      name="text"
      class="input"
      id="text"
      placeholder="Message"
    />
    <input
      type="button"
      class="button"
      id="submitButton"
      value="Send"
      onclick="submit_form();"
    />
  </form>
</div>
<script>
  function submit_form() {

    document.getElementById("messageForm").submit();

    document.getElementById("text").value = "";

  }

  document.getElementById("text").addEventListener("keyup", function(event) {

  if (event.keyCode === 13) {
    event.preventDefault();

    submit_form();
  }
});
</script>