<iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>
<form
  id="messageForm"
  action="/sendMessage"
  method="POST"
  target="dummyframe"
>
  <input type="hidden" name="token" value="{{token}}" />
  <select name="channelid" class="select">
    {{#each chans}}
      <option value="{{this.id}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>
  <input type="text" name="text" class="input" id="text" placeholder="Message" />
  <input type="button" class="button" id="submitButton" value="Send" onclick="submit_form();" />
</form>
<script>
  function submit_form() {

    document.getElementById("messageForm").submit();

    document.getElementById("text").value = "";

  }

  text = document.getElementById("text");

  text.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("submitButton").click();
  }
}); 

</script>