$background-color: #36393f;

@font-face {
    font-family: "fontello";
    src: url("./fonts/fontello-5cbcc463/font/fontello.woff2") format("woff2"),
      url("./fonts/fontello-5cbcc463/font/fontello.woff") format("woff");
  }
  
  body {
    background-color: §background-color;
  }
  
  .zenbu-form {
    padding-top: 30px;
    padding-left: 30px;
  }
  
  .button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7289da;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 5px;
  }
  
  .input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #40444b;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 5px;
    padding-left: 10px;
  }
  
  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #40444b;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 4px;
    padding-left: 10px;
    outline: none;
    cursor: pointer;
  }
  
  .select::-ms-expand {
    display: none;
  }
  
  .select:focus::-ms-value {
    background-color: transparent;
  }
  
  .option {
    color: white;
    background-color: #40444b;
  }
  
  .select-div {
    position: relative;
    display: inline;
  }
  
  .select-div::before {
    font-family: fontello;
    content: "\e800";
    font-size: 20px;
    position: absolute;
    right: 15px;
    color: white;
    pointer-events: none;
  }
  